<% include ./partials/header %>

<!-- carousel of feature photos -->

<div id="carouselItems" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselItems" data-slide-to="0" class="active"></li>
    <li data-target="#carouselItems" data-slide-to="1"></li>
    <li data-target="#carouselItems" data-slide-to="2"></li>
    <li data-target="#carouselItems" data-slide-to="3"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active" data-interval="5000">
      <img src="https://media.pri.org/s3fs-public/styles/story_main/public/images/2018/10/092318-maldives-voting.jpg?itok=66KFrOy6" class="d-block w-100" alt="queue">
      <div class="carousel-caption d-none d-md-block">
        <h3 class="text-white">Quit the queues</h3>
        <p class="text-white">We strive to save your time and efforts by making voting process simpler and efficient</p>
      </div>
    </div>
    <div class="carousel-item" data-interval="5000">
      <img src="https://empowers.brother.com.au/wp-content/uploads/2019/01/The-difference-between-digitisation-and-digitalisation.jpg" class="d-block w-100" alt="digitisation">
      <div class="carousel-caption d-none d-md-block">
        <h3 class="text-white">Step closer to digitisation</h3>
        <p class="text-white">Together we can change the world by moving onto the digital front</p>
      </div>
    </div>
    <div class="carousel-item" data-interval="5000">
      <img src="https://singularityhub.com/wp-content/uploads/2019/06/blockchain-network-concept-distributed-ledger-technology-Peter-Diamandis-future-shutterstock-715107298-1068x601.jpg" class="d-block w-100" alt="blockchain">
      <div class="carousel-caption d-none d-md-block">
        <h3 class="text-white">It's a simple thing, but quite unbreakable</h3>
        <p class="text-white">We make use of Blockchains which are the safest means to store data</p>
      </div>
    </div>
    <div class="carousel-item" data-interval="5000">
      <img src="https://www.elsetge.cat/myimg/f/160-1606133_financial-graph-on-technology-abstract-background-picture-stock.jpg" class="d-block w-100" alt="graph">
      <div class="carousel-caption d-none d-md-block">
        <h3 class="text-white">Unbiased Results</h3>
        <p class="text-white">We guarantee a human-free and error-free system of vote counting and result declaration</p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselItems" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselItems" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<!-- catchy quote -->

<!-- about us -->

<!-- add appearing animation -->

<% include ./partials/footer %>