<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>iElectx</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,500,700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/3bb6ef4500.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="topNav">
        <nav class="navbar navbar-dark navbar-expand-lg">
            <a class="navbar-brand ml-4 black-logo" href="/">
                <span class="logo-1 font-weight-bold">i</span>
                <span class="logo-2 font-weight-bold">E</span>
                <span class="logo-1 font-weight-bold">l</span>
                <span class="logo-2 font-weight-bold">e</span>
                <span class="logo-1 font-weight-bold">c</span>
                <span class="logo-2 font-weight-bold">t</span>
                <span class="logo-1 font-weight-bold">x</span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#hamburgerContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="hamburgerContent">
                <ul class="navbar-nav ml-auto mr-4">
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/about">ABOUT</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/login">LOGIN</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/register">REGISTER</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="header-content">
            <h2 class="text-white">
                A smart and safe way to<br>
                conduct elections
            </h2>
            <h1 class="text-white font-weight-bold">
                Make your <span style="color: aquamarine;">vote</span> count!
            </h1>
            <button type="button" class="btn btn-outline-warning btn-lg mt-4 mr-3">Create a Poll</button>
            <button type="button" class="btn btn-outline-light btn-lg mt-4">Cast Vote</button>
        </div>
    </div>
    <div class="container main-content">
        <h3 class="font-weight-bold text-info text-center mt-5">Hassle-free way to cast your valuable vote in seconds</h3>
        <p class="text-center mt-2">Say <span class="font-weight-bold">NO</span> to long queues and faulty voting ballots. Simply register on the website and<br>
        vote on the election day with the click of a button. Yes, it is that easy!</p>
        <div class="row">
            <div class="col-4 mx-auto">
                <div class="text-center mt-5 mb-4"><i class="fas fa-user-check font-weight-bold"></i></div>
                <h5 class="font-weight-bold text-info text-center mb-3">Join an active poll</h5>
                <div class="pl-5">
                    Become a member of an ongoing<br>
                    voting poll to be able to select<br>
                    a candidate of your choice on<br>
                    election day.
                </div>
            </div>
            <div class="col-4 mx-auto">
                <div class="text-center mt-5 mb-4"><i class="far fa-calendar-check"></i></div>
                <h5 class="font-weight-bold text-info text-center mb-3">Login on the election day</h5>
                <div class="pl-5">
                    Log in with your unique voter ID<br>
                    on the main day and vote on the go.
                </div>
            </div>
            <div class="col-4 mx-auto">
                <div class="text-center mt-5 mb-4"><i class="fas fa-poll"></i></div>
                <h5 class="font-weight-bold text-info text-center mb-3">Await the results</h5>
                <div class="pl-5">
                    Just sit back and hope for the<br>
                    victory of the candidate for whom<br>
                    you voted.
                </div>
            </div>
        </div>
    </div>
    <div class="feature-container">
        <h1 class="text-center font-weight-bold text-white white-shadow pt-4">
            What makes us better?
        </h1>
        <div class="container mt-5">
            <div class="row mx-auto">
                <div class="col-4">
                    <div class="card shadow-lg" style="width: 18rem;">
                        <div class="card-body text-white">
                            <h5 class="card-title text-center">Security & Safety</h5>
                            <hr class=hr-white>
                            <p class="card-text">We provide a secure and hack-free voting experience by making use of the Blockchain Technology. Cryptocurrencies like Bitcoin also work on the Blockchain Technology which makes them so reliable.</p>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card shadow-lg" style="width: 18rem;">
                        <div class="card-body text-white">
                            <h5 class="card-title text-center">Digitisation</h5>
                            <hr class=hr-white>
                            <p class="card-text">We have made an effort to eliminate the need to manually go to polling booths to cast the votes. The e-voting system saves a lot of time and efforts and is way more efficient than the offline voting process.</p>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card shadow-lg" style="width: 18rem;">
                        <div class="card-body text-white">
                            <h5 class="card-title text-center">Advanced Voter Verification</h5>
                            <hr class=hr-white>
                            <p class="card-text">The information of the voter is extracted from the voter ID card and automatically matched against the personal data entered by user and against the eligibility criteria of particular poll.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-5 mx-auto">
                <div class="col-4">
                    <div class="card shadow-lg" style="width: 18rem;">
                        <div class="card-body text-white">
                            <h5 class="card-title text-center">Unbiased Vote Counting</h5>
                            <hr class=hr-white>
                            <p class="card-text">We guarantee a complete human-free and efficient process when it comes to counting of votes. The entire process of counting and validation of votes is computerised, thus, making it error free.</p>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card shadow-lg" style="width: 18rem;">
                        <div class="card-body text-white">
                            <h5 class="card-title text-center">Transparency</h5>
                            <hr class=hr-white>
                            <p class="card-text">We ensure complete transparency when it comes to the voting process and vote counting. If anyone feels something is not right behind the scenes, you are most welcome to check for yourself!</p>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card shadow-lg" style="width: 18rem;">
                        <div class="card-body text-white">
                            <h5 class="card-title text-center">Customise Your Poll</h5>
                            <hr class=hr-white>
                            <p class="card-text">You can mix-and-match between numerous options to create a perfect voting poll that suits your needs. You can even select your own eligibility criteria, date of voting day and date of result declaration.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% include ./partials/footer %>